*
!/**/
!*.*
*~
*.a
*.o
*.out
*.log
*.iso
*.qcow2
*.vdi
*.vmdk
*.tmp
*.d
*.pyc
*.ropeproject
*.xml
nbproject

!Dockerfile

src/apic_boot.bin
src/bootloader
src/TAGS

src/.codelite/
src/compile_commands.json
*.project
*.workspace

*.img
*.img.*

*.gz

.DS_Store

/.vagrant
/examples/demo_service/IncludeOS_Demo_Service
/seed/My_Service

build

# cmake related
CMakeFiles*
CMakeCache*
cmake_install.cmake
