*
!/**/
!*.*
*~
*.a
*.o
*.out
*.iso
*.qcow2
*.vdi
*.vmdk
*.tmp
*.d
*.pyc
*.ropeproject
*.xml
*.img
*.img.*
*.gz
*.tar
*nacl.txt
.DS_Store
nbproject
dummy.disk
callgraph.svg
massif.out.*

!Dockerfile

/.vagrant
build/
build_i686/
build_x86_64/
build_conan/

# ignore log files in test tree
test/**/*.log

# cmake related
CMakeFiles*
CMakeCache*
cmake_install.cmake

# Name of installation folder
IncludeOS_install

# Vim
*.swp

#CLion
.idea/

# Starbase disk file
lib/uplink/starbase/disk

!Jenkinsfile
